body {
    background-color: lightblue;
  }

  h1 {
    color: white;
    text-align: center;
  }

  h2 {
    color: black;
    text-align: center;
  }

  img{
    align-self: center;
    max-width: 50%;
    height: auto;
  }
